.forecasts {
    padding-top: 3em;
}

/* Tabs */
ul.bloc-tabs {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    list-style-type: none;
    height: 200px;
    padding: 0;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 0;
}

.tab {
    background-color: rgb(212, 212, 212);
    width: 125px;
    height: 125px;
    min-width: 7.375em;
    padding: 16px 16px 0;
    vertical-align: bottom;
}

.active-tab {
    background-color: white;
    max-width: 400px;
    min-width: 250px;
    height: 175px;
    overflow: visible;
}

.daily-container {
    display: flex;
    justify-content: space-between;
}

.daily-temps {
    align-items: right;
}

p.date {
    font-weight: 600;
    font-size: large;
    margin-top: 5px;
}

p.high,
p.low {
    margin-top: -5px;
}

.active-tab p.high,
.active-tab p.low {
    margin-top: 0;
}

p.weather-description {
    display: none;
}

.active-tab p.weather-description {
    display: block;
}

.active-tab p.high:before {
    content: "Highs ";
}

.active-tab p.low:before {
    content: "Lows ";
}

.daily-weather-icon {
    width: 50px;
}

.active-tab .daily-weather-icon {
    width: 90px;
    margin-top: 0px;
    padding-left: 25px;
}

/* Content of Tabs */
div.content {
    display: none;
    background-color: #ffffff;
    padding: 30px;
}

div.content.active-content {
    display: block;
    overflow-x: auto;
}

.forecast-table {
    overflow-x: auto;
}

.forecast-icon {
    margin-top: 15px;
    width: 80px;
    padding: 0 24px;
}

.forecast-temp-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    position: relative;
}

.forecast-temp-bar {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 5px;
}

.forecast-temp-cell{
    padding: 10px 0px 0px 1px;
}

.forecast-table .screen-reader-only {
    text-align: left;
    padding: 0 20px 0 0;
    width: 97px;
}

.forecast-table td {
    text-align: center;
    vertical-align: middle;
}

.forecast-table {
    border-collapse: collapse;
}

.forecast-table td {
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    border-right: 1px solid #dddddd;
}

.forecast-table td:last-child {
    border-right: none;
}

.forecast-table tr:last-child td {
    border-bottom: none;
}