div.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
div.message-body{
    padding: 2em;
    background-color: whitesmoke;
    border-radius: 12px;

}

a.social-link img {
    width: 150px;
}

div.socials {
    display: flex;
    justify-content: space-around;
}

div.socials a.linkedin {
    margin-top: 1em;
}

@media only screen and (max-width: 950px) {
    div.logo img {
        width: 200px;
    }
}