.weather-current {
    width: 30em;
    min-width: 250px;
    border-radius: 6px;
    box-shadow: 10px -2px 20px 2px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, .7);
    margin: 20px auto;
    padding: 20px;
    align-items: center;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

@media only screen and (max-width: 950px) {
    .weather-current{
        width: 50vw;
        grid-template-columns: 1fr;
        grid-template-rows: 7em 1fr 10em 1fr;
    }
    div.weather-details{
        padding: 0;
        width: 15em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    p.temp {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    div.city-info {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.weather-icon {
    width: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.weather-img {
    align-items: center;
}

.city {
    font-weight: 700;
    margin: 0;
    font-size: large;
}

.weather-descriptions {
    font-weight: 400;
    font-size: medium;
}

.temp {
    font-weight: 600;
    font-size: 50px;
    padding-right: 2em;
}

.weather-details {
    padding-top: 2em;
    width: 100%;
}

.parameter-row {
    display: flex;
    justify-content: space-between;
}

.parameter-row .label {
    font-weight: 700;
}

.parameter-row .value {
    text-align: right;
    font-weight: 200;
}