div.background {
  --weather-01d: url("./../public/assets/weather-backgrounds/01d.png");
  --weather-01d-mobile: url("./../public/assets/weather-backgrounds/01d-mobile.png");
  --weather-01n: url("./../public/assets/weather-backgrounds/01n.png");
  --weather-01n-mobile: url("./../public/assets/weather-backgrounds/01n-mobile.png");
  --weather-04d: url("./../public/assets/weather-backgrounds/04d.png");
  --weather-04d-mobile: url("./../public/assets/weather-backgrounds/04d-mobile.png");
  --weather-04n: url("./../public/assets/weather-backgrounds/04n.png");
  --weather-04n-mobile: url("./../public/assets/weather-backgrounds/04n-mobile.png");
  --weather-10d: url("./../public/assets/weather-backgrounds/10d.png");
  --weather-10d-mobile: url("./../public/assets/weather-backgrounds/10d-mobile.png");
  --weather-10n: url("./../public/assets/weather-backgrounds/10n.png");
  --weather-10n-mobile: url("./../public/assets/weather-backgrounds/10n-mobile.png");
  --weather-11d: url("./../public/assets/weather-backgrounds/11d.png");
  --weather-11d-mobile: url("./../public/assets/weather-backgrounds/11d-mobile.png");
  --weather-11n: url("./../public/assets/weather-backgrounds/11n.png");
  --weather-11n-mobile: url("./../public/assets/weather-backgrounds/11n-mobile.png");
  --weather-13d: url("./../public/assets/weather-backgrounds/13d.png");
  --weather-13d-mobile: url("./../public/assets/weather-backgrounds/13d-mobile.png");
  --weather-13n: url("./../public/assets/weather-backgrounds/13n.png");
  --weather-13n-mobile: url("./../public/assets/weather-backgrounds/13n-mobile.png");
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(201, 201, 201);
  font-family: FSEmeric, sans-serif;
}

div.background {
  opacity:0.8;
  background-color:#ccc;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  background-image: var(--weather-01d);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
}

/* Desktop backgrounds */
div.bg01d { background-image: var(--weather-01d); }
div.bg03d { background-image: var(--weather-04d); }
div.bg04d { background-image: var(--weather-04d); }
div.bg09d { background-image: var(--weather-10d); }
div.bg10d { background-image: var(--weather-10d); }
div.bg11d { background-image: var(--weather-11d); }
div.bg13d { background-image: var(--weather-13d); }
div.bg50d { background-image: var(--weather-04d); }

/* Night backgrounds */
div.bg01n { background-image: var(--weather-01n); }
div.bg03n { background-image: var(--weather-04n); }
div.bg04n { background-image: var(--weather-04n); }
div.bg09n { background-image: var(--weather-10n); }
div.bg10n { background-image: var(--weather-10n); }
div.bg11n { background-image: var(--weather-11n); }
div.bg13n { background-image: var(--weather-13n); }
div.bg50n { background-image: var(--weather-04n); }


/* Mobile backgrounds */
@media only screen and (max-width: 950px) {
  div.background { background-image: var(--weather-01d-mobile); }
  div.bg01d { background-image: var(--weather-01d-mobile); }
  div.bg03d { background-image: var(--weather-04d-mobile); }
  div.bg03n { background-image: var(--weather-04n-mobile); }
  div.bg09d { background-image: var(--weather-10d-mobile); }
  div.bg09n { background-image: var(--weather-10n-mobile); }
  div.bg50d { background-image: var(--weather-04d-mobile); }
  div.bg50n { background-image: var(--weather-04n-mobile); }
  div.bg04d { background-image: var(--weather-04d-mobile); }
  div.bg10d { background-image: var(--weather-10d-mobile); }
  div.bg11d { background-image: var(--weather-11d-mobile); }
  div.bg13d { background-image: var(--weather-13d-mobile); }
  div.bg01n { background-image: var(--weather-01n-mobile); }
  div.bg04n { background-image: var(--weather-04n-mobile); }
  div.bg10n { background-image: var(--weather-10n-mobile); }
  div.bg11n { background-image: var(--weather-11n-mobile); }
  div.bg13n { background-image: var(--weather-13n-mobile); }
  .app-container { padding: 0 !important; } 

}

.app-container {
  max-width: 1280px;
  margin: 20px auto;
  padding: 2em;
}

.weather {
  padding: 2em;
}