body {
  margin: 0;
  padding: 0;
  background-color: rgb(201, 201, 201);
  font-family: FSEmeric, sans-serif;
}

.app-container{
  max-width: 1280px;
  margin: 20px auto;
  padding: 2em;
  background-color: aqua;
}

.weather {
  background-color: rgba(249, 79, 79, 0.662);
  padding: 2em;
}